@font-face {
  font-family: "Fayesmousewriting";
  src: local("Fayesmousewriting"),
   url('../../assets/Fonts/Fayesmousewriting.ttf');
  font-weight: regular;
 } 
.navbar {
  // background-image: url('../../assets/background2.png');
  background-color: white;
  font-family: Fayesmousewriting;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border: 2px solid black;
  //position: sticky;
  top:0;
  background-color: white;

  .homelogo{
    position: absolute  ;
    width: 100%;
    max-width: 14%;
    float: left;
    margin-top: -3%;
    margin-left: -2%;
    
  .left{
    display: flex;
    align-items: center;
    gap:30px;


    }
    span{
      font-weight: bold;
      font-size: 20px;
      color: dodgerblue;
    }
    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;

      input {
        border: none;
        width: 500px;
      }
    }
  }
  .right{
    display: flex;
    align-items: center;
    gap: 20px;
    .addPost {
      button {
        font-family: Fayesmousewriting;
        cursor: pointer;
        background-color:white;
        color: black;
        border:none;
        min-height:30px;
        min-width: 120px;
        font-size: 1.5em;
        padding: 10%;
        border-style: solid;
        border-width: 2px;

      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 15%;
      font-size: 1.5em;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border-color: black;
        border-width: 4px;
      }

    }
  }
}