@font-face {
  font-family: "Fayesmousewriting";
  src: local("Fayesmousewriting"),
   url('../../assets/Fonts/Fayesmousewriting.ttf');
  font-weight: regular;
 } 

.createpost {
  margin: 0 auto;
  margin-top: 20px;


width:45%;
    .container {
      margin-top: 10%;
      background-color: white;
      padding: 20px;

      border: 1px solid black;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          flex:3;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          input {
            border: none;
            outline: none;
            padding: 20px 10px;
            background-color: transparent;
            width: 100%;
            color: black;
            font-family: Fayesmousewriting;
            font-size: 1.5em;
          }
        }
        .right {
          flex:1;
          display: flex;
          justify-content: flex-end;
          .file{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 0px;
          }
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: black;
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .left {
          display: flex;
          align-items: center;
          gap: 20px;
          .item {
            display: flex;
            align-items: center;
            cursor: pointer;
            //border: 1px solid black;
            padding: 5px;
            color: black;
            background-color: white;
            img {
            
              max-width: 25%;
            }

            span {
              font-size: 1.25em;
              color: black;
            }
          }
        }
        .right {
          .uploadImage{
            width: 14.5%;
            float: right;
            margin-right: 10%;
          }
          button {
            border: 1px solid black;
            padding: 5px;
            color: black;
            cursor: pointer;
            background-color: white;
            // test

          }
        }
      }
    }
  }
