@font-face {
  font-family: "StickyNotes";
  src: local("StickyNotes"),
   url('../../assets/Fonts/StickyNotes.ttf');
  font-weight: regular;
 } 
body{
  background-image: url('../../assets/background1.png');
  background-repeat: no-repeat;
}
.login {
  font-family: StickyNotes;
  height: 100hv;
  
  // background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  .card{
    width: 50%;
    display: flex;
    min-height: 80%;
    // background-color: azure;
    border-radius: 10px;
    font-family: StickyNotes;

    
    .left {
      background-image: url('../../assets/post-it-note.png');
      background-size:100% 100%;
      background-repeat: no-repeat;
      flex:1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: black;
      width: 100%;

      h1 {
        font-size:2em;
        // line-height: 100px;
      }
      button {
        font-size:1em;
        font-family: StickyNotes;
        width: 50%;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
      form{
        font-size: larger;
        display: flex;
        flex-direction: column;
        // gap:30px;
        input {
          font-family: StickyNotes;
          font-size: 1em;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid black;
          max-width: 80%;
          margin: 1%;
          // padding: 20px 10px;
        }
        input[name="password"] {
          font-size: 1em;
          letter-spacing: 0.125em;

        }
        button {
          font-size: 2em;
          width: 50%;
          padding-top: 10%;
          border: none;
          font-weight: bold;
          cursor: pointer;
        }
        label[name="passwordLabel"]{
          padding-top: 10%;
        }
      }

    }
    .right {
      background-image: url('../../assets/blue-post-it.png');
      background-size:95%;
      background-repeat: no-repeat;
      min-height: 50%;
      white-space: nowrap;
      flex:1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap:50px;
      // justify-content: center;
      h1{
        font-size:2em;
      }
      button {
        font-size:2em;
        font-family: StickyNotes;
        width: 80%;
        border:1cm;
        padding-top: 10%;
        background-color: transparent;
        color: black;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}