@font-face {
  font-family: "Fayesmousewriting";
  src: local("Fayesmousewriting"),
   url('../../assets/Fonts/Fayesmousewriting.ttf');
  font-weight: regular;
 } 

.post {
  //background-image: url('../../assets/background1.png');
  box-shadow: 15px 15px 15px -10px rgba(0,0,0,0.38);
  //border-radius: 25px;
  background-color: white;
  color:black;
  box-shadow: 5% 5%;
  font-family: Fayesmousewriting;
  width: 21.5%; 
  height: auto;
  margin-top: 1%;
  border: 2px solid;
  .container {
    padding: 10% 8% 20% 8%;
    position: relative;
    .pin{
      position: absolute;
      max-width: 12%;
      float: right;      
      //border: 1px solid;
      top: 1%;
      left: 90%;
      transform: translate(-50%, -50%);
      height: auto;
    }
    .likebutton{
      position: absolute;
      width: 12%;
      max-width: 12%;
      float: right;
      // margin-right: 10%;  
      margin-top: -6%;    
      // top: 70%;
      // left: 90%;
      height: auto;
      border: 0px;
      border-width: 0;
    }
    .content{
     // margin: 20px 0;
      font-size: 2em;

      p{
        margin-top: 0%;
        margin-bottom: 10%;
      }

      span.date{
        font-size: 0.75em;
        float: left;
   }

      img {
        //width: 100%;
        min-height: 10%;
        max-height: 100%;
        min-width: 10%;
        max-width: 100%;

      }
    }
  }
}
