body {
  background-image: url('../../assets/background2.png');
  background-repeat: repeat;
  //align-content: space-evenly;


}
.posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 2em 2em;
  margin-top: 1%;
  margin-bottom: 1%;
}
// .post{
//   background-color: black;
// }
